projects:
  - name: Crowd Sourced Travel Planner
    environments:
      - name: Production
        permissions:
          protection: enabled
        services:
          - type: web
            name: server-prod
            runtime: node
            region: oregon
            branch: main
            plan: starter # $7/month (otherwise, the server can have downtime)
            numInstances: 1
            rootDir: server
            envVars:
              - key: NODE_VERSION
                value: 23.10.0

            buildCommand: |
              npm ci
              npx prisma generate --no-engine
              npx prisma migrate dev

              # build client and place it in public for the server to serve
              # so it can hydrate the session on first render
              cd ../client
              npm ci
              npm run build
              mkdir ../server/public
              rm -rf ../server/public/*
              cp -r ./dist/* ../server/public

            startCommand: |
              echo "Starting service..."
              pwd
              npm start
              echo "Service started"
        databases:
          - name: db-prod
            plan: basic-256mb # $6/month + also, can only have 1 free DB
            region: oregon
