[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "flask --app main run --debug --port 10000"
prod = "flask --app main run --port 10000 --host 0.0.0.0"

[packages]
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
