services:
  - type: web
    name: crowd-sourced-travel-planner-backend
    runtime: python
    region: frankfurt
    branch: main
    plan: free
    numInstances: 1
    rootDir: server

    buildCommand: |
      pip install --upgrade pip
      pip install pipenv
      pipenv install --deploy --ignore-pipfile

    startCommand: pipenv run prod # TODO: fixme later -

    envVars:
      - key: PYTHON_VERSION
        value: 3.10.1
# TODO: add a service for dev
